# For Rust and config files
*.rs text eol=lf
*.toml text eol=lf
*.ld text eol=lf
*.asm text eol=lf
*.json text eol=lf
*.ps1 text eol=lf

# For documentation and IDE files
*.md text eol=lf
*.xml text eol=lf
*.iml text eol=lf
.gitignore text eol=lf
