[workspace]
members = [
    "kernel",
]
resolver = "2"

[workspace.package]
authors = ["ExoOS Team"]
edition = "2021"
license = "MIT OR Apache-2.0"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
opt-level = 3
